body{
    background: #2c2c2c;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 110vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    padding-top: 70px;

}
aside img {
    width: 85px;
    padding-bottom: 20px;
    padding-left: 10px;
}
aside .logo{
    font-size: 42px;
    font-weight: bold;

}
aside i{
    margin-right: 5px;
}

aside h3{
    margin-top: 180px;
    font-size: 40px;
}

aside ul{list-style: none}

aside ul li {
    font-size: 20px;
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
a:link{
  text-decoration: none!important;
}
main .feature{
    background: #2C3333;
    float: left;
    color: #fff;
    margin-top: 200px;
    text-align: center;
    width: 78%;
}

main .feature h1 {font-size: 50px;}
main .feature p {max-width: 400px; margin:20px auto}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 30px 37.5%;
    text-align: left;
}

form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
    text-align: center;
}