{% extends 'main/layout.html'%}
{%block title%}О нас{% endblock %}


{%block content%}
    <div class="feature">
        <h1>Давай узнаем друг друга получше</h1><br>
        <h4>Мы IT-компания которая занимается разработкой веб-сайтов и продуктов на языке Python.</h4>
        <h4>С помощью данного универсального языка ля разработки был создан данный веб-сайт.</h4>
        <h4>Нажми на кнопку и прочти свежие новости и возращайся завтра за новой партией новостей!</h4><br>
        <a href="{% url 'news_home'%}"> <botton class="btn btn-danger">Перейти</botton> </a>
    </div>
{% endblock %}