{% extends 'main/layout.html'%}

{%block title%}{{ title }}{% endblock %}


{%block content%}
    <div class="feature">
        <h1>{{ title }}</h1><br>
        <h4>Мы — агентство полного цикла. Наши услуги включают маркетинговую стратегию, брендинг, производство рекламных материалов, разработку сайта, поддержку и эффективное привлечение клиентов.</h4><br>
        <h4>Разработаем сайт или веб-приложение по вашим дизайнам за 1 месяц. Не боимся закатать рукава и ускориться.</h4><br>
        <a  href="{% url 'about' %}"><botton class="btn btn-warning">На страницу про нас</botton></a>
    </div>
{% endblock %}